{% extends "base.html" %}
{% block content %}

<div>
	{{ macros.setting_input_text('url', 'URL', placeholder='http:// 주소', desc='유튜브, 네이버TV 등 동영상 주소') }}
	{{ macros.setting_input_text('filename', '파일명', value=arg['file_name'], desc='템플릿 규칙은 https://github.com/ytdl-org/youtube-dl/blob/master/README.md#output-template 참고') }}
	{{ macros.setting_select('preset', '동영상 포맷 프리셋', arg['preset_list'], col='3') }}
	{{ macros.setting_input_text('format', '동영상 포맷', desc=['포맷 지정은 https://github.com/ytdl-org/youtube-dl/blob/master/README.md#format-selection 참고', '빈칸으로 두면 최고 화질로 다운로드합니다.']) }}
	{{ macros.setting_select('postprocessor', '후처리', arg['postprocessor_list'], col='3', desc='다운로드 후 FFmpeg로 후처리합니다.') }}
	{{ macros.setting_button([['download_start', '다운로드']]) }}
</div>

<script>
	"use strict";
	var package_name = '{{ arg["package_name"] }}';

	$(function () {
		// 후처리 목록
		var optgroup = null;
		$('#postprocessor > option').map(function () {
			var i = $(this);
			if (i.val() === '_optgroup') {
				if (i.text() !== '') {	// optgroup 태그 열기
					optgroup = $('<optgroup label="' + i.text() + '"></optgroup>');
					i.before(optgroup).remove();
				} else {	// optgroup 태그 닫기
					optgroup = null;
					i.remove();
				}
			} else if (optgroup !== null) {	// optgroup 태그로 이동
				optgroup.append(i);
			}
		});

		// 프리셋 변경
		$('#preset').change(function (e) {
			if ($(this).val() === '_custom') {
				return;
			}
			$('#format').val($(this).val());
		});
		$('#format').change(function (e) {
			$('#preset').val('_custom');
		});

		// 후처리 변경
		$('#postprocessor').change(function (e) {
			if ($(this).find($('option[value="' + $(this).val() + '"]')).parent().attr('label') === '오디오 추출') {
				$('#preset').val('bestaudio/best').change();
			}
		});

		// 다운로드
		$('#download_start').click(function (e) {
			var url = $('#url').val();
			if (url.startsWith('http') === false) {
				$.notify('<strong>URL을 입력하세요.</strong>', {
					type: 'warning'
				});
				return;
			}
			$.ajax({
				url: '/' + package_name + '/ajax/download',
				type: 'POST',
				cache: false,
				data: {
					url: url,
					filename: $('#filename').val(),
					format: $('#format').val(),
					postprocessor: $('#postprocessor').val()
				},
				dataType: 'json',
				success: function (data) {
					$.notify('<strong>분석중..</strong>', {
						type: 'info'
					});
				}
			});
			return false;
		});
	});
</script>

{% endblock %}