{% extends "base.html" %}
{% block content %}

<div>
	{{ macros.setting_input_text('youtube_dl_version', 'youtube-dl 버전', value=arg['youtube_dl_version']) }}
	<form id="setting">
	{{ macros.setting_input_text('temp_path', '임시 폴더', value=arg['temp_path'], placeholder='임시 폴더 경로', desc='다운로드 파일이 임시로 저장될 폴더 입니다.') }}
	{{ macros.setting_input_text('save_path', '저장 폴더', value=arg['save_path'], placeholder='저장 폴더 경로', desc='정상적으로 완료된 파일이 이동할 폴더 입니다.') }}
	{{ macros.setting_input_text('default_filename', '기본 파일명', value=arg['default_filename'], placeholder='저장 폴더 경로', desc=['템플릿 규칙은 https://github.com/ytdl-org/youtube-dl/blob/master/README.md#output-template 참고', '기본값은 "%(title)s-%(id)s.%(ext)s"입니다.']) }}
	{{ macros.setting_button([['setting_save', '저장']]) }}
	</form>
</div>

<script>
	"use strict";
	var package_name = '{{ arg["package_name"] }}';

	$(function () {
		// 설정 저장
		$('#setting_save').click(function (e) {
			var formData = get_formdata('#setting');
			$.ajax({
				url: '/' + package_name + '/ajax/setting_save',
				type: 'POST',
				cache: false,
				data: formData,
				dataType: 'json',
				success: function (ret) {
					if (ret) {
						$.notify('<strong>설정을 저장하였습니다.</strong>', {
							type: 'success'
						});
					} else {
						$.notify('<strong>설정을 저장하지 못하였습니다.</strong>', {
							type: 'warning'
						});
					}
				}
			});
			return false;
		});
	});
</script>

{% endblock %}